html {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    background-color: lightcyan;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h2 {
    font-size: 9vw;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    margin-bottom: -150px;
    
    z-index: 1;
}

button {
    font-size: 5vw;
    position: absolute;
    bottom: 30px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}

button:hover {
    transform: scale(1.5);
}

span {
    /* animation: rainbow 5s infinite; */
    color:lightcoral;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    56% { color: blue; }
    70% { color: indigo; }
    84% { color: violet; }
    100% { color: red; }
}