html {
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    background: linear-gradient(45deg, #e0f7ff 25%, transparent 25%, transparent 75%, #e0f7ff 75%, #e0f7ff),
    linear-gradient(45deg, #e0f7ff 25%, transparent 25%, transparent 75%, #e0f7ff 75%, #e0f7ff);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    background-color: #b3e5fc;
}

/* loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.5s ease-out;
}

#loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

#loading-text {
    color: white;
    font-size: 40px;
    font-family: "Jersey 10", sans-serif;
}



canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

h2 {
    font-size: 130px;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: rainbow 5s infinite; */
    color:#ff1493;
    text-shadow: 
        4px 1px 0 #5f0135,
        5px 2px 0 #5f0135,
        3px 3px 5px rgba(0, 0, 0, 0.3);

}

#confetti-btn {
    bottom: 50px;
    left: 100px;
}

#lighter-btn {
    bottom: 50px;
    right: 100px;
}

button {
    padding: 10px;
    font-size: 80px;
    position: absolute;
    background: rgb(0, 174, 255);
    border: 5px solid rgb(0, 142, 208);    
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.3);
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    56% { color: blue; }
    70% { color: indigo; }
    84% { color: violet; }
    100% { color: red; }
}

@media (max-width: 768px) {
    h2 {
        font-size: 60px;
    }
    button {
        font-size: 50px;
    }
    #confetti-btn {
        left: 30px;
        bottom: 30px;
    }
    #lighter-btn {
        right: 30px;
        bottom: 30px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 40px;
    }
    button {
        font-size: 35px;
    }
}

