html {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
}

body {
    background: linear-gradient(45deg, #e0f7ff 25%, transparent 25%, transparent 75%, #e0f7ff 75%, #e0f7ff),
    linear-gradient(45deg, #e0f7ff 25%, transparent 25%, transparent 75%, #e0f7ff 75%, #e0f7ff);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    background-color: #b3e5fc;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h2 {
    font-size: 90px;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    margin-bottom: -150px;
    
    z-index: 1;
}

button {
    font-size: 80px;
    position: absolute;
    bottom: 30px;
    left: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.3);
}

span {
    /* animation: rainbow 5s infinite; */
    color:lightcoral;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    56% { color: blue; }
    70% { color: indigo; }
    84% { color: violet; }
    100% { color: red; }
}